html{
   font-family: "sans serif","helvetica";
   font-size: 100%;
}

body{
  background-image: url(../imagens/fundo.jpg);  
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  align-content: center;
  margin: 0;
}

section{
    margin:0;
}

.navegacao{
  padding: 30px 15px;
  margin-bottom: 30px;
  color: inherit;
  padding: 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  min-height: 100%;
  align-content : center;
}

h1{
    position: relative;
    text-align: center;
    font-size: 18pt;
}
section{
    width: 100%;
}

footer{
    height: 100%;
    background-color: #2e6fa7;
    color: white;
    padding: 25px;
    font-size: 16pt;
    text-align: center;
    
}

.footer{
    font-size: 11pt;
    color: white;
    width: 25%;
    padding-top: 15px;
    padding-left: 10px;
    text-align: center;
}

header{
    text-align: center;
}

/* Menu do site*/
nav{
    margin: 10px;
    padding: 5px;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #0c5e7c;*/
    background-image: url("../imagens/fundo-menu.jpg");
    float: none;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 
}

li a:hover {
    background-color: #111;
}

.fixar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0;
  align-content : center;
}

/* SEÇÃO PRINCIPAL*/
#principal{
    height: 400px;
    width: 100%;
}

#logomarca{
    position: absolute;
    top: 30%;
    left: 30%;
}

#destaques{
    /*height: 300px;*/
    background-color: #fff;
    width: 100%;
    margin: 0;
    height: 100%;
}

#dataMenu{
    align-content: center;
    font-size: 10pt;
    color: #eee;
    margin: 15px;
    width: 100%;

}